<h1>Lista de Disciplinas</h1>

<table class="grid">
  <tr>
    <th colspan="3" align="left"><%= link_to image_tag('add.png', :border => 0), new_discipline_path, :title => 'Adicionar' %></th>
    <th>Código</th>
    <th>Curso</th>
    <th>Descrição</th>
  </tr>

<% @disciplines.each do |discipline| %>
  <tr>
    <td><%= link_to image_tag('view.png', :border => 0), discipline, :title => 'Visualizar' %></td>
    <td><%= link_to image_tag('edit.png', :border => 0), edit_discipline_path(discipline), :title => 'Editar' %></td>
    <td><%= link_to image_tag('delete.png', :border => 0), discipline, confirm: 'Deseja realmente excluir o registro?', method: :delete, :title => 'Excluir' %></td>
    <td><%= discipline.id %></td>
    <td><%= discipline.course_id %></td>
    <td><%= discipline.description %></td>
  </tr>
<% end %>
</table>

<br />
