<h1><%= link_to 'Alunos', students_path %> > Visualizar</h1>

<% if notice %>
  <div id="notice"><%= notice %></div>
  </br>
<% end %>

<div class="fields">
  <table>
    <tr>
      <td><label for="student_id">Código</label></td>
      <td><%= text_field 'student', 'id', :disabled => 'disabled' %></td>
    </tr>
    <tr>
      <td><label for="student_name">Nome</label></td>
      <td><%= text_field 'student', 'name', :disabled => 'disabled' %></td>
    </tr>
    <tr>
      <td><label for="student_password">Senha</label></td>
      <td><%= text_field 'student', 'password', :disabled => 'disabled' %></td>
    </tr>
    <tr>
      <td><label for="student_birth">Data Nascimento</label></td>
      <td><%= text_field 'student', 'birth', :disabled => 'disabled' %></td>
    </tr>
    <tr>
      <td><label for="student_rg">RG</label></td>
      <td><%= text_field 'student', 'rg', :disabled => 'disabled' %></td>
    </tr
    <tr>
      <td><label for="student_cpf">CPF</label></td>
      <td><%= text_field 'student', 'cpf', :disabled => 'disabled' %></td>
    </tr>
    <tr>
      <td><label for="student_address">Endereço</label></td>
      <td><%= text_field 'student', 'address', :disabled => 'disabled' %></td>
    </tr>
    <tr>
      <td><label for="student_phone">Telefone</label></td>
      <td><%= text_field 'student', 'phone', :disabled => 'disabled' %></td>
    </tr>
    <tr>
      <td><label for="student_unit_id">Unidade</label></td>
      <td><%= text_field 'student', 'unit_id', :disabled => 'disabled' %></td>
    </tr>
    <tr>
      <td><label for="student_course_id">Curso</label></td>
      <td><%= text_field 'student', 'course_id', :disabled => 'disabled' %></td>
    </tr>
  </table>
</div>