<%= render :file => "/mobile/header.html.erb" %>

<div data-role="content">
  <ul data-role="listview" data-theme="c" data-inset="true" data-filter="true">
    <% @locations.each do |location| %>
      <li>
        <a href="/mobile/book/<%= location.book.id %>">
          <h4 name="book_name"><%= location.book.name %></h4>
          <table class="bookinf">
            <tr>
              <td><strong>Locação</strong></td>
              <td><%= location.date_location.strftime("%d/%m/%Y") %></td>
            </tr>
            <tr>
              <td><strong>Devolução</strong></td>
              <td><%= location.date_devolution.strftime("%d/%m/%Y") %></td>
            </tr>
          </table>
        </a>
      </li>
    <% end %>
  </ul>
</div>